@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --skill-circle-size: 130px;
  --skill-icon-size: 60px;
  --skill-circle-color: rgba(253, 111, 0, 1);
  --skill-circle-trail-color: #d6d6d6;
  --skill-percentage-font-size: 30px;
  --skill-percentage-gradient-start: #FD6F00;
  --skill-percentage-gradient-end: #E46400;
  --skill-name-color: #959595;
  --skill-name-font-size: 24px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
